<%- include ('./partials/header.ejs') -%> 
<div class="container">
    <nav class="navbar">
        <a href="/" class="option">My Notes</a>
        <div class="options">
            <% if (user) { %>
                <a href="/user/session" class="option"><%= user.username %> </a>
            <% } %>
            <a href="/user/session" class="option">Create Note</a>
            <a href="/user/logout" class="option">Logout</a>
        </div>
    </nav>
    <main class="main">
        <form action="/notes/update/<%= note._id %> " method="post" class="form">
            <h3>Edit Note</h3>
            <br>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= note.title %> ">
            <br>
            <label for="title">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"><%= note.description %></textarea>
            <button type="submit" class="btn">Update</button>
        </form>
    </main>
</div>

<%- include ('./partials/footer.ejs') -%> 